format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$git_metrics\
$cmd_duration\
$time\
$line_break\
$character
"""

[fill]
symbol = " "

[time]
disabled = false
style = "dimmed white"

